.dialog {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  .dialog-card {
    max-width: 700px;
    margin: 15% auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    .dialog-card__header {
      height: 32px;
      color: whitesmoke;
      background-color: #333333;
      line-height: 32px;
      padding-left: 8px;
    }
    .dialog-card__content {
      padding: 16px;
      background-color: white;
    }
    .dialog-card__actions {
      display: flex;
      justify-content: flex-end;
      background-color: white;
      height: 32px;
      padding: 8px 16px;
      button:not(:last-child) {
        margin-right: 8px;
      }
    }
  }
}
